<% include header %>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Products</h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tr>
              <th style="width: 100px">Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Categories</th>
              <th style="width: 120px">Actions</th>
            </tr>
            <% for(var i = 0; i < products.length; i++) { %>
            <tr>
              <td>
                <img src="/images/product-details/1.jpg" alt="Easy Polo Black Edition" class="img-thumbnail" width="100" />
              </td>
              <td><%= products[i].get('name') %></td>
              <td>$<%= products[i].get('price') %></td>
              <td>
                <% 
                  var productCategories = products[i].get('categories') || [];
                  for(j = 0; j < productCategories.length; j++) { 
                %>
                <%= productCategories[j].get("name") %><br />
                <% } %>
              </td>
              <td>
                <a class="btn btn-default" href="/admin/products/<%= products[i].id %>">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-default" href="/admin/products/<%= products[i].id %>/delete">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
            <% } %>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
    <div class="col-lg-6">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title">
            <% if(editProduct.get('name')) { %>
              <%= editProduct.get('name') %>
            <% } else { %>
              New Product
            <% } %>
          </h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <form method="POST" action="">
            <% if(editProduct.createdAt) { %>
            <p><strong>Created at:</strong> <%= editProduct.createdAt %></p>
            <% } %>
            <div class="form-group">
              <label>Name</label>
              <input name="name" class="form-control" type="text" value="<%= editProduct.get('name') %>">
            </div>
            <div class="form-group">
              <label>Price (in $)</label>
              <input name="price" class="form-control" type="text" value="<%= editProduct.get('price') %>">
            </div>
            <div class="form-group">
              <label>Categories</label>
              <select name="category" class="form-control">
                <option value=""></option>
                <% for(i = 0; i < categories.length; i++) { %>
                <option name="category" value="<%= categories[i].id %>"  
                  <% if(editProduct.get("category") && editProduct.get("category").id == categories[i].id) { %>
                  selected="selected"
                  <% } %>
                >
                  <%= categories[i].get("name") %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label>Image</label>
              <input name="image" id="exampleInputFile" type="file">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <img src="/images/product-details/1.jpg" alt="<%= editProduct.get("name") %>" class="img-thumbnail"/>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input name="remove-image" type="checkbox"> Remove Image
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea name="description" class="form-control" rows="3"><%= editProduct.get('description') %></textarea>
            </div>
            <div class="form-group pull-right">
              <input type="submit" value="Save" class="btn btn-primary">
            </div>
            <div class="clearfix"></div>
          </form>
        </div><!-- /.box-body -->
    </div>
  </div>
</section>

<% include footer %>